In [1]:
# 数据表达 
# 使用哑变量转化类型特征
# 哑变量（Dummy Variables），也称为了虚拟变量，它能将某些类型变量的数据转化为二值变量，从而便于处理。

# 导入pandas
import pandas as pd
# 输入一个数据表
fruits = pd.DataFrame({'data features': [1, 2, 3, 4, 5],
                       'type features': ['Apple', 'Banana', 'Cherry', 'Durian', 'Eggplant']})
display(fruits)

# 转变数据表中的字符串为数值
fruits_dum = pd.get_dummies(fruits)
# 显示转变之后的数据表
display(fruits_dum)

   data features type features
0              1         Apple
1              2        Banana
2              3        Cherry
3              4        Durian
4              5      Eggplant

,data features,type features_Apple,type features_Banana,type features_Cherry,type features_Durian,type features_Eggplant
0,1,1,0,0,0,0
1,2,0,1,0,0,0
2,3,0,0,1,0,0
3,4,0,0,0,1,0
4,5,0,0,0,0,1